<nz-collapse [nzBordered]="false" class="zijin-form" ngForm>
  <nz-collapse-panel nzHeader="图片文件">
    <div nz-row nzType="flex">
      <div nz-col [nzSpan]="24" style="margin-bottom: 8px;">
        <button nz-button (click)="imageInput.click()">
          <i class="anticon anticon-upload"></i><span>选择图片</span>
        </button>
      </div>
      <div nz-col [nzSpan]="24">
        <label for="settingFileToUpload" class="upload f-ellipsis">
          <span class="text">QQ截图20180810093757.png</span>
        </label>
        <input type="file" name="settingFileToUpload" id="settingFileToUpload" #imageInput (change)="change($event)"
               style="display: none;">
      </div>
      <div nz-col [nzSpan]="24" style="margin-bottom: 8px;">
        <label nz-checkbox name="show" nzSize="small" [(ngModel)]="option.preserveAspectRatio">保持长宽比</label>
      </div>
    </div>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="超链接设置">
    <div nz-row nzType="flex">
      <div nz-col [nzSpan]="24" style="margin-bottom: 8px;">
        <div class="u-btn u-btn-ghost u-btn-icon" style="width: 100%;">
          <i class="u-icn u-icn-link"></i>
          <span>创建链接</span>
        </div>
      </div>
    </div>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="样式">

  </nz-collapse-panel>
</nz-collapse>


