.ant-row-flex > div {
  //padding: 3px 0;
  text-align: center;
  border-radius: 0;
  min-height: 24px;
  //margin-top: 8px;
  //margin-bottom: 8px;
  margin: 4px 0;
  display: flex;
  align-items: center;
}


input[type=checkbox], input[type=radio] {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
}
