<div nz-row nzType="flex" ngForm>
  <div nz-col [nzSpan]="24">
    <span>标题文字</span>
    <label nz-checkbox name="show" nzSize="small" [(ngModel)]="option.show">显示</label>
  </div>
  <div nz-col class="flex-start" [nzSpan]="12">
    <span>标题文字</span>
  </div>
  <div nz-col class="flex-end" [nzSpan]="12">
    <label nz-checkbox name="show" nzSize="small" [(ngModel)]="option.show">显示</label>
  </div>
  <div nz-col [nzSpan]="24">
    <input nz-input placeholder="标题文本" name="text" [(ngModel)]="option.text" nzSize="small">
  </div>
  <div nz-col [nzSpan]="12" class="padding-right">
    <input nz-input
           placeholder="left"
           name="left"
           [(ngModel)]="option.left"
           nzTitle="left:{{option.left}}" nzPlacement="topCenter" nz-tooltip
           nzSize="small">
  </div>
  <div nz-col [nzSpan]="12" class="padding-left">
    <input nz-input
           placeholder="top"
           name="top"
           [(ngModel)]="option.top"
           nzTitle="top:{{option.top}}" nzPlacement="topCenter" nz-tooltip
           nzSize="small">
  </div>
  <div nz-col [nzSpan]="12" class="padding-right">
    <input nz-input
           placeholder="right"
           name="right"
           [(ngModel)]="option.right"
           nzTitle="right:{{option.right}}" nzPlacement="topCenter" nz-tooltip
           nzSize="small">
  </div>
  <div nz-col [nzSpan]="12" class="padding-left">
    <input nz-input
           placeholder="bottom"
           name="bottom"
           [(ngModel)]="option.bottom"
           nzTitle="bottom:{{option.bottom}}" nzPlacement="topCenter" nz-tooltip
           nzSize="small">
  </div>
  <div nz-col [nzSpan]="24">
    <input nz-input placeholder="标题文本" nzSize="small">
  </div>
  <div nz-col [nzSpan]="24">
    <input nz-input placeholder="标题文本" nzSize="small">
  </div>
  <div nz-col [nzSpan]="24">
    <nz-switch nzSize="small"></nz-switch>
  </div>
  <div nz-col [nzSpan]="24" ngModelGroup="textStyle">
    <div nz-row class="back-white" nzType="flex">
      <div nz-col class="flex-start" [nzSpan]="8">
        <span>align</span>
      </div>
      <div nz-col class="flex-end" [nzSpan]="16">
        <nz-radio-group [nzSize]="'small'" name="align" [(ngModel)]="option?.textStyle.align">
          <label nz-radio-button nzValue="left"><i class="u-icn u-icn-align-left"></i></label>
          <label nz-radio-button nzValue="center"><i class="u-icn u-icn-align-center"></i></label>
          <label nz-radio-button nzValue="right"><i class="u-icn u-icn-align-right"></i></label>
        </nz-radio-group>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-input-number name="width" nzSize="small" [(ngModel)]="option?.textStyle.width" [nzMin]="1" [nzMax]="500" [nzStep]="5"></nz-input-number>
      </div>
    </div>
  </div>
  <div nz-col [nzSpan]="24">
    <div nz-row class="multi-item-row" nzGutter="8">
      <div nz-col [nzSpan]="8">
        背景色
      </div>
      <div nz-col [nzSpan]="4">
        <div name="backgroundColor"
             style="width: 24px;height: 24px;cursor: pointer;border-radius: 3px;"
             colorPicker [(ngModel)]="option.backgroundColor"
             [cpOutputFormat]="'rgba'"
             [cpOKButton]="true"
             cpOKButtonClass="ant-btn ant-btn-default"
             [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
             [style.background]="option.backgroundColor">

        </div>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-select nzTitle="字体" nzPlacement="topCenter" nz-tooltip style="width: 100%" nzShowSearch nzAllowClear
                   nzPlaceHolder="字体" nzSize="small">
          <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="8">
        borderColor
      </div>
      <div nz-col [nzSpan]="4">
        <div name="borderColor"
             style="width: 24px;height: 24px;cursor: pointer;border-radius: 3px;"
             colorPicker [(ngModel)]="option.borderColor"
             [cpOutputFormat]="'rgba'"
             [cpOKButton]="true"
             cpOKButtonClass="ant-btn ant-btn-default"
             [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
             [style.background]="option.borderColor">

        </div>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-input-number name="borderWidth" nzSize="small" [(ngModel)]="option.borderWidth" [nzMin]="1" [nzMax]="20" [nzStep]="1"></nz-input-number>
      </div>
    </div>
  </div>
</div>

