:host /deep/ .ant-collapse.ant-collapse-borderless {
  background-color: #fafafa;
}

:host /deep/ .ant-collapse-content>.ant-collapse-content-box {
  padding: 9px;
}

:host /deep/ .ant-collapse-content {
  font-size: 12px;
  overflow: visible;
}

:host /deep/ .ant-collapse-item{
  overflow: hidden;
}

:host /deep/ .ant-collapse-item.ant-collapse-item-active{
  overflow: visible;
}

:host /deep/ .ant-collapse>.ant-collapse-item>.ant-collapse-header {
  line-height: 22px;
  padding: 9px 0 9px 28px;
  // background-color: #ccc;
}

:host /deep/ .ant-collapse>.ant-collapse-item>.ant-collapse-header .arrow {
  line-height: 40px;
  left: 8px;
}
