<div class="m-setting">
  <div class="m-setting-item m-setting-axes-x">
    <h3 class="collapsible">
      <i class="u-icn u-icn-angle-down"></i>
      <span>X轴</span>
    </h3>
    <div class="settingItem-content">
      <div class="m-setting-fields">
        <div class="m-schema-dropable m-schema-dropable-y">
          <div class=" dropable">
            <div class="dropArea">
              <div class="body emptyBody">
              </div>
              <div class="pills">
                <div class="m-Pill-wrap dragable">
                  <div class="checkbox">
                    <input type="checkbox" checked="checked">
                  </div>
                  <div title="地区 " class="m-Pill m-Pill-DimensionPill u-item u-item-1 animated">
                    <div class="text">
                      <span>地区</span>
                      <span class="u-icn u-icn-"></span>
                    </div>
                    <i class="sel"></i>
                  </div>
                </div>
                <div class="empty">拖入字段</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <i class="u-icn u-icn-exchange-vertical"></i>
    </div>
  </div>
  <div class="m-setting-item m-setting-axes-y">
    <h3 class="collapsible">
      <i class="u-icn u-icn-angle-down"></i>
      <span>Y轴</span>
    </h3>
    <div class="settingItem-content">
      <div class="m-setting-fields">
        <div class="m-schema-dropable m-schema-dropable-y">
          <div class=" dropable">
            <div class="dropArea">
              <div class="body">
              </div>
              <div class="pills">
                <div class="m-Pill-wrap dragable">
                  <div class="checkbox">
                    <input type="checkbox" checked="checked">
                  </div>
                  <div title="求和(记录数) " class="m-Pill m-Pill-MeasurePill u-item u-item-2 animated">
                    <div class="text">
                      <span>求和(记录数)</span>
                      <span class="u-icn u-icn-"></span>
                    </div>
                    <i class="sel"></i>
                  </div>
                </div>
                <div class="empty" id="dragTarget">拖入字段</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <i class="u-icn u-icn-exchange-vertical"></i>
    </div>
  </div>
</div>
