<div class="head">
  <h4>维度</h4>
  <i class="u-icn u-icn-geography">
    <span class="u-icn u-icn-caret-down"></span>
  </i>
  <i class="u-icn u-icn-add"></i>
  <div class="m-overlay m-overlay-customMap top"
       style="z-index: 404; position: absolute; top: -9999px; left: -9999px;">
    <ul class="u-menu u-menu-map" style="display: block;">
      <li>地理地图</li>
      <li>自定义背景地图</li>
    </ul>
  </div>
</div>

<div class="body">
  <div class="group group-dimensions group-auto">
    <div class="m-schemaList">
      <ul class="list list-item">
          <li class="u-bitem u-bitem-table" [title]="dataModel?.displayName"
              (click)="toggleList($event)">
            <i class="u-icn u-icn-angle-down" [class.u-icn-angle-right]="dataModel?.state.collapsedDimension"></i>{{dataModel?.displayName}}
          </li>
        <ng-container *ngFor="let item of dataModel?.dimensions">
          <li *ngIf="item.type==='ordinal'"
              class="u-bitem j-pill-item j-item u-bitem-1 draggable" draggable="true"
              (dragstart)="doDragStart($event,item)"
              [attr.fieldid]="item" [attr.datamodelname]="dataModel.id">
              <span class="txt handle">
                <i class="protect" style="display: none;">●</i>
                <i class="u-icn u-icn-string"></i>
                <b class="j-text">{{item.comment||item.name}}</b>
              </span>
              <div class="menu">
                <i></i>
              </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>

<div class="u-dragBar u-dragBar-v" (dragstart)="dragStartForDragBar($event)" draggable="true">
  <div class="icon">
    <div class="line"></div>
  </div>
</div>
