* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure,
table, caption, th, td,
form, fieldset, legend, input, button, select, textarea, menu {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

.good {
  font-size: 12px;
}




