.title {
  position: relative;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  color: #282828;
  font-weight: 500;
  background-color: #fff;
}
