<div class="app-body-left">
  <div class="app-content">
    <!--<div class="canvas-region">-->
    <!--<div class="m-canvas" style="width: 960px; height: 720px;background: transparent;">-->
    <!--<div class="g-fill canvas-fill">-->
    <!--<div class="box" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px 0px;transform: translate(-50%, -50%) scale(1);overflow: visible;">-->
    <!--<div class="grid" style="-->
    <!--background-image: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04) 1px, transparent 1px, transparent 20px), repeating-linear-gradient(-90deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04) 1px, transparent 1px, transparent 20px);-->
    <!--background-size: 10px 10px;-->
    <!--background-position: 1px 1px;-->
    <!--background-color: rgb(242, 242, 242);-->
    <!--width: 960px; height: 720px;">-->
    <!--<div id="main" style="width: 960px;height:720px;"></div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <div class="scale-slide-wrapper">
    <nz-slider [nzDefaultValue]="100" (nzOnAfterChange)="scaleChange($event)" [nzMax]="200" [nzMin]="10"
               [nzTipFormatter]="formatter"></nz-slider>
  </div>
</div>
<div class="app-body-right">
  <div class="side-left">
    <app-sider-left></app-sider-left>
  </div>
  <div class="side-right">
    <app-sider-right></app-sider-right>
  </div>
</div>
