<div class="app-header-logo" (click)="doSwitch(event)"></div>
<!-- <div><i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i></div> -->
<div class="app-header-toolbar">
  <div class="box-wrapper-left">
    <ul class="btns-box">
      <li class="btn-item" (click)="doSave()">
        <div class="u-tool-btn">
          <i class="u-icn u-icn-save"></i>
        </div>
      </li>
      <li class="btn-item" [class.z-disabled]="!actionManager?.canBackward" (click)="actionManager.backward()">
        <div class="u-tool-btn">
          <i class="u-icn u-icn-undo"></i>
        </div>
      </li>
      <li class="btn-item" [class.z-disabled]="!actionManager?.canForward" (click)="actionManager.forward()">
        <div class="u-tool-btn">
          <i class="u-icn u-icn-redo"></i>
        </div>
      </li>
      <li class="btn-item">
        <label for="templateToUpload" class="u-tool-btn">
          <i class="u-icn u-icn-refresh"></i>
          <form>
            <input type="file" name="templateToUpload" id="templateToUpload"
                   (change)="templateChange($event)"
                   style="display: none;">
          </form>
        </label>
      </li>
    </ul>
  </div>
  <div class="box-wrapper-center">
    <ul class="btns-box">
      <li class="btn-item  false dragable" draggable="true" (dragstart)="dragStart($event)"
          data-component-name="barChart">
        <div class="u-tool-btn">
          <i class="u-icn u-icn-chart-bar"></i>
          <span class="text">图表<i class="u-icn u-icn-caret-down" style="display: none;"></i></span>
        </div>
      </li>
      <li class="btn-item dragable">
        <div class="u-tool-btn">
          <i class="u-icn u-icn-menubar-table"></i>
          <span class="text">表格<i class="u-icn u-icn-caret-down" style="display: none;"></i></span>
        </div>
      </li>
      <li class="btn-item" style="cursor: default;" (mouseenter)="mouseEnter($event,moreToolsPopup,94)">
        <div class="u-tool-btn">
          <i class="u-icn u-icn-menubar-more"></i>
          <span class="text">更多<i class="u-icn u-icn-caret-down" style="display: none;"></i></span>
        </div>
      </li>
    </ul>
    <div class="cut-line"></div>

    <ul class="btns-box">
      <li class="btn-item  false" style="cursor: default;" (mouseenter)="mouseEnter($event,helperToolsPopup,0)">
        <div class="u-tool-btn">
          <i class="u-icn u-icn-utility"></i>
          <span class="text">辅助工具<i class="u-icn u-icn-caret-down" style="display: none;"></i></span>
        </div>
      </li>
      <li class="btn-item  false btn-item-upload">
        <label for="fileToUpload" class="upload">
          <div class="u-tool-btn">
            <i class="u-icn u-icn-menubar-image"></i>
            <span class="text">图片</span>
          </div>
        </label>
        <form>
          <input type="file" name="fileToUpload" id="fileToUpload" (change)="change($event)" style="display: none;">
        </form>
      </li>
    </ul>
    <div class="cut-line"></div>

    <ul class="btns-box">
      <li class="btn-item false false" style="cursor: default;" (mouseenter)="mouseEnter($event,filterToolsPopup,12)">
        <div class="u-tool-btn">
          <i class="u-icn u-icn-list"></i>
          <span class="text">筛选器<i class="u-icn u-icn-caret-down" style="display: none;"></i></span>
        </div>
      </li>


    </ul>
    <div class="cut-line"></div>

    <ul class="btns-box">
      <li class="btn-item  false" style="cursor: default;">
        <div class="u-tool-btn">
          <i class="u-icn u-icn-menubar-parameter"></i>
          <span class="text">参数<i class="u-icn u-icn-caret-down"></i></span>
        </div>
      </li>
      <li class="btn-item  false" style="cursor: default;">
        <div class="u-tool-btn">
          <i class="u-icn u-icn-menubar-arrange"></i>
          <span class="text">排列<i class="u-icn u-icn-caret-down"></i></span>
        </div>
      </li>
      <li class="btn-item false false" style="cursor: default;">
        <div class="u-tool-btn">
          <i class="u-icn u-icn-menubar-showme"></i>
          <span class="text">智能推荐<i class="u-icn u-icn-caret-down" style="display: none;"></i></span>
        </div>
      </li>

    </ul>
    <div class="cut-line" style="display: none;"></div>

  </div>
  <div class="box-wrapper-right">
    <div class="cut-line" style="display: none;"></div>
    <ul class="btns-box">
      <li class="btn-item  " style="">
        <div class="u-tool-btn" (click)="preview()">
          <i class="u-icn u-icn-menubar-preview"></i>
          <span class="text">预览<i class="u-icn u-icn-caret-down" style="display: none;"></i></span>
        </div>
      </li>
      <li class="btn-item  " style="cursor: default;">
        <div class="u-tool-btn">
          <i class="u-icn u-icn-menubar-help"></i>
          <span class="text">帮助中心<i class="u-icn u-icn-caret-down" style="display: none;"></i></span>
        </div>
      </li>
    </ul>
    <div class="cut-line"></div>
    <ul class="btns-box">
      <li class="btn-item  " style="">
        <div class="u-tool-btn">
          <i class="u-icn u-icn-close"></i>
          <span class="text">退出<i class="u-icn u-icn-caret-down" style="display: none;"></i></span>
        </div>
      </li>
    </ul>
  </div>
</div>
