<nz-collapse [nzBordered]="false" class="zijin-form" ngForm>
  <nz-collapse-panel nzHeader="X 轴">

  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="Y 轴">
    <div class="m-schema-droppable">
      <div class="dropArea">
        <div nz-row nzType="flex" ngModelGroup="title">
          <div nz-col [nzSpan]="24">
            <div class="pills">
              <div class="m-Pill m-Pill-DimensionPill u-item u-item-1 animated" *ngFor="let item of seriesY"
                   [title]="item.name">
                <div class="text">
                  <span>{{item.name}}</span>
                </div>
                <i class="sel"></i>
              </div>
              <div class="empty" (dragenter)="dragenter($event)" (dragover)="dragover($event)" (drop)="dropY($event)">
                拖入字段
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="全部属性">

  </nz-collapse-panel>
</nz-collapse>
<nz-radio-group [ngModel]="aa" (ngModelChange)="ngModelChange()">
  <label nz-radio nzValue="top">top</label>
  <label nz-radio nzValue="bottom">bottom</label>
</nz-radio-group>
<ng-template #modalTitle>
  <h2 class="wintt"><span class="u-icn u-icn-set-o"></span> 数据筛选<span>(省份)</span></h2>
</ng-template>
