<nz-collapse [nzBordered]="false" class="zijin-form" ngForm>
  <nz-collapse-panel nzHeader="X 轴">
    <div nz-row nzType="flex" ngModelGroup="xAxis">
      <div nz-col [nzSpan]="24" style="margin-bottom: 8px">
        <nz-select style="width:100%;" name="type" nzShowSearch nzAllowClear nzPlaceHolder="坐标轴类型"
                   [(ngModel)]="option.xAxis.type">
          <nz-option nzLabel="value" nzValue="value"></nz-option>
          <nz-option nzLabel="category" nzValue="category"></nz-option>
          <nz-option nzLabel="time" nzValue="time"></nz-option>
          <nz-option nzLabel="log" nzValue="log"></nz-option>
        </nz-select>
      </div>
      <div nz-col class="m-schema-droppable" [nzSpan]="24">
        <div class="u-item animated" *ngIf="!!seriesX">
          <div class="text">
            <span>{{seriesX.displayName}}</span>
          </div>
        </div>
        <div class="empty" (dragenter)="dragenter($event)" (dragover)="dragover($event)" (drop)="dropX($event)">拖入字段
        </div>
      </div>
    </div>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="Y 轴">
    <div nz-row nzType="flex" ngModelGroup="title">
      <div nz-col class="m-schema-droppable" [nzSpan]="24">
        <div class="u-item animated" *ngFor="let item of seriesY">
          <div class="text">
            <span>{{item.displayName}}</span>
          </div>
        </div>
        <div class="empty" (dragenter)="dragenter($event)" (dragover)="dragover($event)" (drop)="dropY($event)">拖入字段
        </div>
      </div>
    </div>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="标题">

  </nz-collapse-panel>
</nz-collapse>
