<!-- <div style="height: 1000px">
  <h1>报表管理</h1>
</div> -->
<nz-layout style="background-color:#f0f3f4;height: 1000px;">
  <nz-sider style="background-color:#e4eaec;height: 1000px;">
    <div>
      <nz-tree [(ngModel)]="nodes" [nzShowExpand]="true" [nzDraggable]="true" (nzOnDragStart)="dragStart($event)"
        (nzClick)="activeNode($event)" (nzDblClick)="openFolder($event)">
        <ng-template #contextTemplate>
          <ul nz-menu nzInDropDown>
            <li nz-menu-item (click)="selectDropdown()">新建文件</li>
            <li nz-menu-item (click)="selectDropdown()">新建文件夹</li>
          </ul>
        </ng-template>
        <ng-template #nzTreeTemplate let-node>
          <span class="custom-node" draggable="true" aria-grabbed="true" [class.active]="activedNode?.key===node.key">
            <span *ngIf="!node.isLeaf" [class.shine-animate]="node.origin.isLoading" (contextmenu)="contextMenu($event,contextTemplate, node)">
              <i class="anticon anticon-folder" *ngIf="!node.isExpanded" (click)="openFolder(node)"></i>
              <i class="anticon anticon-folder-open" *ngIf="node.isExpanded" (click)="openFolder(node)"></i>
              <span class="folder-name">{{node.title}}</span>
              <!-- <span class="folder-desc">{{node?.origin?.author | lowercase}} created at 2018-04-01</span> -->
            </span>
            <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event,contextTemplate, node)">
              <i class="anticon anticon-file"></i>
              <span class="file-name">{{node.title}}</span>
              <!-- <span class="file-desc">{{node?.origin?.author | lowercase}} modified at 2018-05-01</span> -->
            </span>
          </span>
        </ng-template>
      </nz-tree>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-content style="padding:16px">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-button-group>
            <button nz-button>排序</button>
            <button nz-button nzType="primary" (click)="addReport('报表页面')">新建报表页面</button>
            <button nz-button (click)="addReport('文件夹')">新建文件夹</button>
            <button nz-button (click)="addReport('iframe页面')">新建iframe页面</button>
          </nz-button-group>
        </div>
      </div>
      <div nz-row style="padding-top: 16px">
        <div nz-col naSpan="24">
          <nz-card  nzTitle="根目录">
            <nz-table #basicTable [nzData]="dataSet">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Address</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of basicTable.data">
                  <td>{{data.name}}</td>
                  <td>{{data.age}}</td>
                  <td>{{data.address}}</td>
                  <td>
                    <a>Action 一 {{data.name}}</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a>Delete</a>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </nz-card>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
